.teacher{
    background: #F5F6FA;
    border: 1px solid #F5F6FA;
    border-radius: 20px 20px 20px 1px;
    padding: 5px;
    float:left;
    margin: 10px 10px 10px 0px;
    color: black;
}

.profile-pic{
    background: #F5F6FA;
    float:left;
    margin: 15px 0px 0px 0px;
    border-radius: 50%;
}

.profile-pic-container{
    padding: 0px 0px 0px 15px;
}
.student{
    background: #00abef;
    border-radius: 20px 20px 1px 20px;
    color: white;
    padding: 5px;
    float: right;
    margin: 10px;
}


