{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}




        <!-- ========== FEATURE INTRO ========== -->
        <section class="se-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-md-offset-1">
                        <img src="{% static 'images/profile-photo.jpg' %}" class="img-responsive img-circle" alt="" >
                        <br>
                    </div> <!-- end col-md-8 -->

                    <div class="col-md-8">
                        <p class="subheading" style="text-align:left">Gameli Ladzekpo</p>
                        <h6>Founder</h6>
                        <a href="https://twitter.com/gamladz"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="mailto:gam@wiireapp.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                        <p>MEng in Engineering with Business Finance, UCL '16. Interned at Goldman Sachs, Capital Enterprise; freelanced as web designer. Technical Product person. Using Technology and Entrepreneurship to drive social innovation. Outside of Wiire, I'm an Engineering Outreach Tutor & STEM Ambassador at UCL who likes playing sport and listening to music.</p>


                        <br>
                    </div> <!-- end col-md-8 -->



                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>


            <!-- ========== CTA SECTION ========== -->
        <section class="se-section primary-bg">
            <div class="container">
                <div class="row text-center">
                    <h3>Add me to the waiting list!</h3>
                    <p>Join our mission to improve Student Satisfaction</p>
                    <a href="/pricing" class="btn se-btn-black btn-rounded">Start Free Trial</a>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>






{% endblock content %}
