{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<script type="text/javascript" src="https://conversational-form-0iznjsw.stackpathdns.com/conversational-form.min.js" crossorigin></script>

<style>

    .user.show>thumb{
        background-image: url(http://www.cdu.edu.au/sites/default/files/newsroom/images/Fran_Rosamond-3%20300x250.jpg)
            !important;
        width:50px;
        height:50px;
        display: none;
    }
    .robot.show>thumb{
        background-image: url(http://www.cdu.edu.au/sites/default/files/newsroom/images/Fran_Rosamond-3%20300x250.jpg) !important;
        width:50px;
        height:50px;
    }
    .robot.show>text{
        margin-left: 20px;
        !important;
    }
    .robot.peak-thumb>thumb{
        background-image: url(http://developer.affectiva.com/images/emoji/smiley.png) !important
    }
    .navbar{
        display:none;
    }
    footer{
        display:none;
    }


}
</style>

<form action="/success/" id="my-form-element" cf-form>
{% csrf_token %}
{ <input type="text" cf-questions="Hey, I'm Jenny!, one of the Mental Health Staff. I'll be helping you today! What's your name?">
        <select class="selectpicker" cf-questions="Hi {previous-answer}, I need to you answer a few questions, try and answer honestly, okay?">
            <option>Okay, Start Questions</option>
        </select>

    <fieldset>
        <div class="radio">
            <label><input cf-questions="Over the last 2 weeks, how often have you been bothered
by any of the following problems: 1. Feeling Anxious?" type="radio" name="occupation" id="occupation-1" cf-label="Not at all"></label>
        </div>
        <div class="radio">
            <label><input type="radio" name="occupation" id="occupation-1" cf-label="Several days"></label>
        </div>
        <div class="radio">
            <label><input type="radio" name="occupation" id="occupation-1" cf-label="More than half the days"></label>
        </div>
        <div class="radio">
            <label><input type="radio" name="occupation" id="occupation-1" cf-label="Nearly every day"></label>
        </div>
    </fieldset>
    <fieldset>
        <div class="radio">
            <label><input cf-questions="2. Have you been unable to stop or control worrying?" type="radio" name="question2" id="question-2" cf-label="Not at all"></label>
        </div>
        <div class="radio">
            <label><input type="radio" name="question2" id="question-2" cf-label="Several days"></label>
        </div>
        <div class="radio">
            <label><input type="radio" name="question2" id="question-2" cf-label="More than half the days"></label>
        </div>
        <div class="radio">
            <label><input type="radio" name="question2" id="question-2" cf-label="Nearly every day"></label>
        </div>
    </fieldset>
    <fieldset>
        <div class="radio">
            <label><input cf-questions="3. Have you been Worrying too much about different things?" type="radio" name="question3" id="question-3" cf-label="Not at all"></label>
        </div>
        <div class="radio">
            <label><input type="radio" name="question3" id="question-3" cf-label="Several days"></label>
        </div>
        <div class="radio">
            <label><input type="radio" name="question3" id="question-3" cf-label="More than half the days"></label>
        </div>
        <div class="radio">
            <label><input type="radio" name="question3" id="question-3" cf-label="Nearly every day"></label>
        </div>
    </fieldset>
    <fieldset>
        <div class="radio">
            <label><input cf-questions="4. Have you had Trouble relaxing??" type="radio" name="question4" id="question-4" cf-label="Not at all"></label>
        </div>
        <div class="radio">
            <label><input type="radio" name="question4" id="question-4" cf-label="Several days"></label>
        </div>
        <div class="radio">
            <label><input type="radio" name="question4" id="question-4" cf-label="More than half the days"></label>
        </div>
        <div class="radio">
            <label><input type="radio" name="question4" id="question-4" cf-label="Nearly every day"></label>
        </div>
    </fieldset>
    <fieldset>
        <div class="radio">
            <label><input cf-questions="5. Have you been restless that it is hard to sit still?" type="radio" name="question5" id="question-5" cf-label="Not at all"></label>
        </div>
        <div class="radio">
            <label><input type="radio" name="question5" id="question-5" cf-label="Several days"></label>
        </div>
        <div class="radio">
            <label><input type="radio" name="question5" id="question-5" cf-label="More than half the days"></label>
        </div>
        <div class="radio">
            <label><input type="radio" name="question5" id="question-5" cf-label="Nearly every day"></label>
        </div>
    </fieldset>
    <fieldset>
        <div class="radio">
            <label><input cf-questions="6. Have you been becoming easily annoyed or irritable?" type="radio" name="question6" id="question-6" cf-label="Not at all"></label>
        </div>
        <div class="radio">
            <label><input type="radio" name="question6" id="question-6" cf-label="Several days"></label>
        </div>
        <div class="radio">
            <label><input type="radio" name="question6" id="question-6" cf-label="More than half the days"></label>
        </div>
        <div class="radio">
            <label><input type="radio" name="question6" id="question-6" cf-label="Nearly every day"></label>
        </div>
    </fieldset>
    <fieldset>
        <div class="radio">
            <label><input cf-questions="7. Feeling afraid as if something awful might happen?" type="radio" name="question7" id="question-7" cf-label="Not at all"></label>
        </div>
        <div class="radio">
            <label><input type="radio" name="question7" id="question-7" cf-label="Several days"></label>
        </div>
        <div class="radio">
            <label><input type="radio" name="question7" id="question-7" cf-label="More than half the days"></label>
        </div>
        <div class="radio">
            <label><input type="radio" name="question7" id="question-7" cf-label="Nearly every day"></label>
        </div>
    </fieldset>






  <input type="submit" value="Submit"/>

</form>


{% endblock content %}

