{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<script type="text/javascript">
    $(window).load(function ()
{
    var $contents = $('#survey-frame').contents();
    $contents.scrollTop($contents.height());
});
</script>





                <!-- ========== HEADER ========== -->


                <!-- ========== HEADER ========== -->
        <header class="header main-header parallax-bg" data-parallax="scroll" data-image-src="{% static 'images/bg-img-3.jpg' %}" data-speed="0.4" >
            <div class="primary-trans-bg">
                <div class="container">
                    <!-- For centering the content vertically -->
                    <div class="outer">
                    <!-- Put Each in Rows -->
                        <div class="inner text-center">
                            <div class="row">
                                 <div class="col-md-6">
                                    <h1 class="white-color">Clinical Questionnaire Platform for Healthcare Professionals</h1>
                                    <h5 class="">Chat bot platform for Mental health professionals to triage
 hard to reach patients via SMS or online <br><br><br><span class="small" style="color:white">* inline with policy recommendation 1.1.1.9</span></h5>
                                    <!--<a href="/signup" class="btn se-btn-black btn-rounded">Try it --></a>

                                </div>

                                <div class="col-md-6">
                                <div class="window">
                                <div class="titlebar">
                                    <div class="buttons">
                                      <div class="clos">
                                        <a class="closbutton" href="#"><span><strong>x</strong></span></a>

                                      </div>


                                      <div class="minimize">
                                        <a class="minimizebutton" href="#"><span><strong>&ndash;</strong></span></a>
                                      </div>

                                      <div class="zoom">
                                        <a class="zoombutton" href="#"><span><strong>+</strong></span></a>
                                      </div>

                                    </div>

                                  </div>

                                  <div class="content">
                                  <iframe scrolling="no" id="survey-frame" src="/demochat#end" width="100%" height="90%" frameborder="0" overflow:hidden;></iframe>

                                    <!--<p class="label">To</p> All 4th Year Students<br><br>
                                    <p class="label">From</p> Prof.Smith@uni.ac.uk

                                    <hr>
                                    <p class="emailheading">Subject: Teaching Feedback Survey </p>
                                    <hr>
                                    <p>Hey <span class="name"><strong>[Name]</strong></span>,<br><br> I know your about to finish your module in
                                    <span class="subject"><strong>[Subject]</strong></span> Last year we implemented <span class="response"><strong>[Insert Past Resolution]</strong></span> based on student feedback</p>

                                    <p>Your feedback matters, click
                                    <a href="#" data-toggle="modal" data-target="#convoModal">here</a> to do your survey</p>



                                    <p>Kind Regards, <br> Prof Smith</p>-->



                                  </div>
                                </div>

                                </div>

                            </div>

                        </div> <!-- end inner -->
                    </div> <!-- end outer -->
                </div> <!-- end container -->
            </div> <!-- end primary-trans-bg -->
        </header>

        <!-- ========== OFFER SECTION ========== -->
        <section class="se-section offer-section gray-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p><span class="badge">Public Beta &#x2665;</span>This product is in a beta testing phase. Let us know how to improve it!<a href="/pricing" class="learn-more">Give feedback</a></p>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>


        <!-- Modal -->
        <div id="convoModal" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-body">
                <iframe scrolling="no" id="survey-frame" src="/demochat#end" width="100%" height="500" scrolling="no" frameborder="0" overflow:hidden ;></iframe>
              </div>
            </div>

          </div>
        </div>

        <!-- ========== SINGLE FEATURE SECTION ========== -->

        <section class="se-section single-feature">

                <div class="col-md-6 col-md-offset-3 zero-padding feature-info">
                    <h2 class="heading">How it works?</h2>
                    <p class="subheading">Helps Therapists, Psychologists and Practioners triage more patients</p>
                </div>
                <div class="col-md-4 feature-info">
                    <img src="{% static 'images/MentalHealthProfessional.svg' %}" alt="" class="img-responsive" width="100%">
                    <p class="subheading col-md-12"><span class="number-list">1</span></p>
                        <p class="subheading col-md-12">Create a profile with your name and profile photo. We'll use it to make your avatar</p>
                </div>
                <div class="col-md-4 feature-info">
                    <img src="{% static 'images/QuestionnaireList.svg' %}" alt="" class="img-responsive" width="100%">
                    <p class="subheading col-md-12"><span class="number-list">2</span></p>
                        <p class="subheading col-md-12">Select a Questionnaire, we'll turn it into a conversation. Then send your link to patients or text them</p>
                </div>
                <div class="col-md-4 feature-info">
                    <img src="{% static 'images/ReportCard.svg' %}" alt="" class="img-responsive" width="100%">
                    <p class="subheading col-md-12"><span class="number-list">3</span></p>
                        <p class="subheading col-md-12">Collect and analyse results. Quickly make decisions on appropriate care pathways</p>
                </div>


            <div class="container feature-desc">
                <div class="row">
                    <div class="col-md-5 col-md-push-7 feature-info">
                    </div>
                </div>
            </div>
        </section>


        <!-- ========== SINGLE FEATURE SECTION ========== -->

        <section class="se-section single-feature">

                <div class="col-md-6 col-md-offset-3 zero-padding feature-info">
                    <h2 class="heading">Send your patients a text</h2>
                    <p class="subheading">Everyone has a mobile. Wiire can automatically text your patients and take them through the triage process</p>
                </div>
             <div class="col-md-12">

             <!-- aos convo-->
                                <div class="col-md-6 col-md-offset-3">
                                <div class="marvel-device iphone6plus gold">
                                    <div class="top-bar"></div>
                                    <div class="sleep"></div>
                                    <div class="volume"></div>
                                    <div class="camera"></div>
                                    <div class="sensor"></div>
                                    <div class="speaker"></div>
                                    <div class="screen">
                                        <!-- Content goes here -->
                                        <!-- aos convo-->
                                    <div data-aos="zoom-in-right" class="col-md-12 col-md-offset-0">
                                      <div id="transcroller-body" class="aos-all">
                                        <div class="row">
                                            <div class="col-xs-2 col-md-2 profile-pic-container">
                                            <img src="{% static 'images/TherapistAvatar.svg' %}" class="img-responsive img-rounded profile-pic" style="width:100%">
                                            </div>
                                              <div class="aos-item col-xs-10 col-md-10 col-md-offset-0" data-aos="zoom-in-right" >
                                                <div class="aos-item__inner teacher"><p class="teacher"> Hey! I’m Jenny, I work at the health centre. what's your name?</p></div>
                                              </div>
                                          </div>

                                          <div class="row">
                                              <div class="aos-item student" data-aos="zoom-in-left" >
                                                <div class="aos-item__inner"><p class="student">Joe
                                                </p></div>
                                              </div>
                                           </div>



                                          <div class="row aos-item" data-aos="zoom-in-right">
                                              <div class="col-xs-2 col-md-2 profile-pic-container" data-aos="zoom-in-right">
                                            <img src="{% static 'images/TherapistAvatar.svg' %}" class="img-responsive img-rounded profile-pic" style="width:100%">
                                            </div>
                                                <div class="aos-item col-xs-10 col-md-10 col-md-offset-0"  >
                                                  <div class="aos-item__inner teacher"><p class="teacher">Hey Joe, can I ask you a few qustions to find out how your feeling?</p></div>
                                                </div>
                                            </div>

                                          <div class="row">
                                              <div class="aos-item student" data-aos="zoom-in-left" >
                                                <div class="aos-item__inner"><p class="student">Sure
                                                </p></div>
                                              </div>
                                           </div>

                                          <div class="row aos-item" data-aos="zoom-in-right">
                                              <div class="col-xs-2 col-md-2 profile-pic-container" data-aos="zoom-in-right">
                                            <img src="{% static 'images/TherapistAvatar.svg' %}" class="img-responsive img-rounded profile-pic" style="width:100%">
                                            </div>
                                                <div class="aos-item col-xs-10 col-md-10 col-md-offset-0"  >
                                                  <div class="aos-item__inner teacher"><p class="teacher">In the last two weeks how often have you been feeling anxious?</p></div>


                                                  <p>
                                                    <span class="teacher option">Not at all</span><span class="teacher option">Several days</span><span class="teacher option">Nearly every days</span>

                                                </div>
                                                </div>
                                            </div>

                                          <div class="row">
                                              <div class="aos-item student" data-aos="zoom-in-left" >

                                                    <div class="aos-item__inner"><p class="student">Several days
                                                    </p>
                                                  </div>
                                              </div>
                                           </div>
                                      </div>
                                    </div>
                                    </div>
                                    <div class="home"></div>
                                    <div class="bottom-bar"></div>
                                </div>
                            </div>


            <div class="container feature-desc">
                <div class="row">
                    <div class="col-md-5 col-md-push-7 feature-info">
                    </div>
                </div>
            </div>
        </section>




        <!-- ========== SINGLE FEATURE SECTION ========== -->

        <!--<section class="se-section single-feature">

                <div class="col-md-6 col-md-offset-3 zero-padding feature-info">
                    <h2 class="heading">Beautiful, Intelligent Reports</h2>
                    <p class="subheading">Use Natural language processing to estimate the sentiment of answers for large surveys. Pick out keywords and text analytics</p>
                </div>
                <div class="col-md-8 col-md-offset-2 feature-info">
                    <img src="{% static 'images/ReportDashboard.svg' %}" alt="" class="img-responsive">
                </div>


            <div class="container feature-desc">
                <div class="row">
                    <div class="col-md-5 col-md-push-7 feature-info">
                    </div>
                </div>
            </div>
        </section>-->




        <!-- ========== SINGLE FEATURE SECTION ========== -->


        <section class="se-section single-feature">

                <div class="col-md-6 col-md-offset-3 zero-padding feature-info">
                    <h2 class="heading">Easily embed into your site</h2>
                    <p class="subheading">Embed your surveys into your own website by copying and pasting the embed code</p>

                    <pre class="code-sample"><span class="tag">&lt;iframe&gt;</span> <span class="class-tag">id</span>=<span class="label-tag">"survey-frame"</span> <span class="class-tag">src</span>=<span class="label-tag">"/sign-up#end" </span><span class="class-tag">width</span>=<span class="label-tag">"100%" </span><span class="class-tag">height</span>=<span class="label-tag">"90%"</span><span class="class-tag"> frameborder</span>=<span class="label-tag">"0"</span> <span class="class-tag">overflow:visible;<span><span class="tag">&lt;/iframe&gt;</span></pre>

                </div>
                <div class="col-md-8 col-md-offset-2 feature-info">
                    <!--<img src="{% static 'images/IntegrationsGraphic@1x.svg' %}" alt="" class="img-responsive">-->
                </div>


            <div class="container feature-desc">
                <div class="row">
                    <div class="col-md-5 col-md-push-7 feature-info">
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>



                <!-- ========== CTA SECTION ========== -->
        <section class="se-section primary-bg">
            <div class="container">
                <div class="row text-center">
                    <h3>Get Started</h3>
                    <p>Join our mission to improve Mental Health</p>
                    <a href="/signup" class="btn se-btn-black btn-rounded">Start Free Trial</a>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>






{% endblock content %}

