{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<script type="text/javascript">
    $(window).load(function ()
{
    var $contents = $('#survey-frame').contents();
    $contents.scrollTop($contents.height());
});
</script>
<script type="text/javascript">
    function myFunction() {
    var x = document.getElementById('launcher-chat');
    if (x.style.opacity === '1') {
        x.style.opacity = '0';
    } else {
        x.style.opacity = '1';
    }
}
</script>




                <!-- ========== HEADER ========== -->


                <!-- ========== HEADER ========== -->
        <header class="header main-header parallax-bg" data-parallax="scroll" data-image-src="{% static 'images/bg-img-3.jpg' %}" data-speed="0.4" >
            <div class="primary-trans-bg">
                <div class="container">
                    <!-- For centering the content vertically -->
                    <div class="outer">
                    <!-- Put Each in Rows -->
                        <div class="inner text-center">
                            <div class="row">
                                 <div class="col-md-6">
                                    <img src="{% static 'images/light-logo.svg' %}" alt="" class="img-responsive" width="85px">


                                    <h1 class="white-color">Improve Access to Mental healthcare with Digital Technology</h1>
                                    <br>
                                    <p class="subheading" style="text-align:left">Clinical Questionnaire platform for mental health professionals to connect with
 hard to reach demographics via SMS or Online chat<br><br><br><span class="small" style="color:white">* inline with NICE guidance for increasing access to services (recommendation 1.1.1.9)</span></p>
 </a>

                                </div>

                                <div class="col-md-6">
                                <div class="window">
                                <div class="titlebar">
                                    <div class="buttons">
                                      <div class="clos">
                                        <a class="closbutton" href="#"><span><strong>x</strong></span></a>

                                      </div>


                                      <div class="minimize">
                                        <a class="minimizebutton" href="#"><span><strong>&ndash;</strong></span></a>
                                      </div>

                                      <div class="zoom">
                                        <a class="zoombutton" href="#"><span><strong>+</strong></span></a>
                                      </div>

                                    </div>

                                  </div>

                                  <div class="content">
                                  <iframe scrolling="no" id="survey-frame" src="/demochat#end" width="100%" height="90%" frameborder="0" overflow:hidden;></iframe>


                                  </div>
                                </div>

                                </div>

                            </div>

                        </div> <!-- end inner -->
                    </div> <!-- end outer -->
                </div> <!-- end container -->
            </div> <!-- end primary-trans-bg -->
        </header>

        <!-- ========== OFFER SECTION ========== -->


        <div id="launcher-chat" class="launcher-chat" style="position:fixed;display: block;bottom: 20%;right: 5%">
        <div class="titlebar-chat">

            <p class="window-meta">
                <span class="chat-window-heading">London General Hospital</span>

            <br>
                <span class="chat-window-subheading">Dr Jenny Smith</span>
            <br>

            <span class="filled-circle"></span>



            <span class="chat-window-status">Available to Triage</span>
            </p>
        </div>
            <iframe scrolling="no" id="survey-frame" src="/survey/4#end" width="550px" height="350px" frameborder="0" overflow:hidden;></iframe>

        </div>




        <!-- ========== SINGLE FEATURE SECTION ========== -->

        <section class="se-section single-feature">



                <div class="col-md-4  feature-info">
                        <div class="aos-item" data-aos="zoom-in" data-aos-once="true" style="position:fixed;display: block;top: 85%;left: 90%">
                                <div onclick="myFunction()"="wiire-launcher">
                                    <div class="aos-item__inner">
                                    <a class="btn stoo"><img src="{% static 'images/light-icon.svg' %}" alt="" class="img-responsive" style="width:25px;margin:auto;margin-top:5px">
                                    </a>

                                    </div>
                                </div>
                        </div>



                </div>


            <div class="container feature-desc">
                <div class="row">
                    <div class="col-md-5 col-md-push-7 feature-info">
                    </div>
                </div>
            </div>
        </section>

        <!-- ========== SINGLE FEATURE SECTION ========== -->

        <section class="se-section single-feature">

                <div class="col-md-6 col-md-offset-3 zero-padding feature-info">
                    <h2 class="heading">Quick + Easy to get started</h2>
                    <p class="subheading">Helps Therapists, Psychologists and Practioners triage more patients</p>
                </div>
                <div class="col-md-4 feature-info">
                    <div class="featured-image">
                        <img src="{% static 'images/MentalHealthProfessional.svg' %}" alt="" class="img-responsive" width="100%">
                    </div>
                    <p class="subheading col-md-12"><span class="number-list">1</span></p>
                        <p class="subheading col-md-12">Create a profile with your name and profile photo. We'll use it to make your avatar</p>
                </div>
                <div class="col-md-4 feature-info">
                    <div class="featured-image">
                        <pre class="code-sample featured-content"><span class="tag">&lt;iframe&gt;</span> <span class="class-tag">id</span>=<span class="label-tag">"survey-frame"</span> <span class="class-tag">src</span>=<span class="label-tag">"/sign-up#end" </span><span class="class-tag">width</span>=<span class="label-tag">"100%" </span><span class="class-tag">height</span>=<span class="label-tag">"90%"</span><span class="class-tag"> frameborder</span>=<span class="label-tag">"0"</span> <span class="class-tag">overflow:visible;<span><span class="tag">&lt;/iframe&gt;</span></pre>
                    </div>

                    <p class="subheading col-md-12"><span class="number-list">2</span></p>
                        <p class="subheading col-md-12">Once your set up will give you a custom snippet of code. Just copy and paste it into your website</p>
                </div>
                <div class="col-md-4 feature-info">
                    <div class="featured-image">
                        <a href="/signup" class="btn stoo featured-content"><img src="{% static 'images/light-icon.svg' %}" alt="" class="img-responsive" style="width:25px;margin:auto;margin-top:5px">
                                    </a>
                    </div>
                    <p class="subheading col-md-12"><span class="number-list">3</span></p>
                        <p class="subheading col-md-12">Collect and analyse results. Quickly make decisions on appropriate care pathways</p>
                </div>


            <div class="container feature-desc">
                <div class="row">
                    <div class="col-md-5 col-md-push-7 feature-info">
                    </div>
                </div>
            </div>
        </section>




        <!-- ========== CTA SECTION ========== -->
        <section class="se-section primary-bg">
            <div class="container">
                <div class="row text-center">
                    <h3>Get Started</h3>
                    <p>Join our mission to improve Mental Health</p>
                    <a href="/signup" class="btn se-btn-black btn-rounded">Start Free Trial</a>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>






{% endblock content %}

