{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}



                <!-- ========== HEADER ========== -->


                <!-- ========== HEADER ========== -->
        <header class="header main-header parallax-bg" data-parallax="scroll" data-image-src="{% static 'images/bg-img-3.jpg' %}" data-speed="0.4" >
            <div class="primary-trans-bg">
                <div class="container">
                    <!-- For centering the content vertically -->
                    <div class="outer">
                        <div class="inner text-center">
                            <h1 class="white-color">Improve Student Satisfaction with Machine Learning.</h1>
                            <h5 class="">A chat platform which closes the feedback loop between teachers and Student Voice.</h5>
                            <a href="#" class="btn se-btn-white btn-rounded">Free 14 Day Trial</a>

                        </div> <!-- end inner -->
                    </div> <!-- end outer -->
                </div> <!-- end container -->
            </div> <!-- end primary-trans-bg -->
        </header>

        <!-- ========== OFFER SECTION ========== -->
        <section class="se-section offer-section gray-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p><span class="badge">FREE</span> We're extending our trial period to 30 days for the next 30 universities to sign up. <a href="#" class="learn-more">Learn More</a></p>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>

        <!-- ========== FEATURES ========== -->
        <section class="se-section features-section">
            <div class="container">
                <div class="row">

                    <div class="col-md-3 col-sm-6 se-feature">
                        <i class="icon ion-ios-analytics-outline"></i>
                        <h5>Module Evaluation</h5>
                        <p>Collect high quality data on each of your modules and help students make better choices on modules</p>
                    </div> <!-- end se-feature -->

                    <div class="col-md-3 col-sm-6 se-feature">
                        <i class="icon ion-ios-paper-outline"></i>
                        <h5>Teaching Excellence</h5>
                        <p>Use data to support improvements in teaching provision and changes to the curriculum</p>

                    </div> <!-- end se-feature -->

                    <div class="col-md-3 col-sm-6 se-feature">
                        <i class="icon ion-ios-lightbulb-outline"></i>
                        <h5>Quality Assurance</h5>
                        <p>Help students judge teaching quality and get constructive, friendly feedback from students. H</p>
                    </div> <!-- end se-feature -->

                    <div class="col-md-3 col-sm-6 se-feature">
                        <i class="icon ion-ios-speedometer-outline"></i>
                        <h5>Student Experience</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
                    </div> <!-- end se-feature -->

                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>
<!-- ========== SINGLE FEATURE SECTION ========== -->
        <section class="se-section single-feature">

            <div class="col-md-6 zero-padding col-md-push-6 side-img">

            <!-- aos convo-->
                <div data-aos="zoom-in-right" class="col-md-8 col-md-offset-2">
                  <div id="transcroller-body" class="aos-all">
                              <div class="aos-item" data-aos="zoom-in-right" >
                                <div class="aos-item__inner teacher"><p class="teacher">Hi, Dr Smith Here, I’m collecting some
                                feedback to evaluate your experience
                                of  this module, could I ask you a few
                                questions?</p></div>
                              </div>
                              <div class="aos-item student" data-aos="zoom-in-left"  data-aos-delay="300" data-aos-offset="240">
                                <div class="aos-item__inner"><p class="student">Sure</p></div>
                              </div>
                              <div class="aos-item teacher" data-aos="zoom-in-right" data-aos-delay="300" data-aos-offset="240">
                                <div class="aos-item__inner"><p class="teacher">1. What was your favourite part of the
                                course?</p></div>
                              </div>
                              <div class="aos-item student" data-aos="zoom-in-left" data-aos-delay="300" data-aos-offset="240">
                                <div class="aos-item__inner"><p class="student">I really enjoyed the lab sessions!
                                </p></div>
                              </div>
                              <div class="aos-item" data-aos="zoom-in-right" data-aos-delay="600" data-aos-offset="240">
                                <div class="aos-item__inner"><p class="teacher">How did you find the pace of the
                                classes?</p></div>
                              </div>
                              <div class="aos-item" data-aos="zoom-in-right" data-aos-delay="300" data-aos-offset="240">
                                <div class="aos-item__inner"><span class="teacher option">Fast</span><span class="teacher option">Slow</span><span class="teacher option">Just Right!</span></div>
                              </div>
                              <div class="aos-item student" data-aos="zoom-in-left" data-aos-delay="300" data-aos-offset="240">
                                <div class="aos-item__inner"><p class="student">Just Right!</p></div>
                              </div>
                              <div class="aos-item teacher" data-aos="zoom-in-left" data-aos-delay="300" data-aos-offset="240">
                                <div class="aos-item__inner"><p class="teacher">Thanks for your feedback, we're going to use it to improve your student experience!</p></div>
                              </div>


                  </div>
                </div>





            <!-- end aos convo -->
                <!--<img src="http://placehold.it/1600x1000?text=SoftEase" alt="" class="img-responsive">-->
            </div> <!-- end side-img -->


            <div class="container feature-desc">
                <div class="row">
                    <div class="col-md-5 feature-info">
                        <h2>Increase Response Rates</h2>

                        <p>We have optimised for mobile so that students can complete surveys in-class while still being online. Responses go straight to our cloud-based platform so you don't have to spend time collecting.</p>

                        <p>Students give better respopnses when someone they know is asking. That's why we've replaced boring forms with friendly chats. This way you can garuntee high quality constructive feedback.</p>
                        <a href="#" class="btn se-btn btn-rounded">Learn More</a>
                    </div>

                </div> <!-- end row -->
            </div> <!-- end container -->

        </section>

        <!-- ========== SINGLE FEATURE SECTION ========== -->
        <section class="se-section single-feature">

            <div class="col-md-6 zero-padding side-img">
                <img src="http://placehold.it/1600x1000?text=SoftEase" alt="" class="img-responsive">
            </div> <!-- end side-img -->

            <div class="container feature-desc">
                <div class="row">
                    <div class="col-md-5 col-md-push-7 feature-info">
                        <h2>Respond to Student Voice</h2>
                        <p>Once you have solved an issue notify students inside the app. This will help you get better scores on the NSS for responding to student voice!</p>
                        <p>Take action quickly when issues arise. Fully close the feedback loop by notifying students of any other things</p>
                        <a href="#" class="btn se-btn btn-rounded">Learn More</a>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>

        <!-- ========== SINGLE FEATURE SECTION ========== -->
        <section class="se-section single-feature">

            <div class="col-md-6 zero-padding col-md-push-6 side-img">
                <img src="{% static 'images/ReportDashboard.png' %}" alt="" class="img-responsive">
            </div> <!-- end side-img -->

            <div class="container feature-desc">
                <div class="row">
                    <div class="col-md-5 feature-info">
                        <h2>Intelligent Report</h2>
                        <p>Visualise data to quickly spot trends. Evidence your decisions</p>
                        <p>Use Machine Learning techniques to remove guesswork from free text analyses</p>
                        <a href="#" class="btn se-btn btn-rounded">Learn More</a>
                    </div>

                </div> <!-- end row -->
            </div> <!-- end container -->

        </section>
{% endblock content %}

