{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

        <header class="header page-title" >
            <div class="container">
                <!-- For centering the content vertically -->
                <div class="outer">
                    <div class="inner text-center">

                        <h1 class="">We've not launched yet!</h1>

                    </div> <!-- end inner -->
                </div> <!-- end outer -->
            </div> <!-- end container -->
        </header>

        <!-- ========== PRICING ========== -->
        <section class="se-section">
            <div class="container">
                <div class="row">
                    <div class="inner text-center">
                        <h3>Wiire is currently in a private testing phase. If you would like early access, Please do get in touch. Just send an email to gam@wiireapp.com and I'll furnish you with a username and password so you can get started.<h3>
                    </div> <!-- end inner -->


                </div>

            </div> <!-- end container -->
        </section>

{% endblock content %}
