{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

        <header class="header page-title" >
            <div class="container">
                <!-- For centering the content vertically -->
                <div class="outer">
                    <div class="inner text-center">

                        <h1 class="">Pick a Plan</h1>

                    </div> <!-- end inner -->
                </div> <!-- end outer -->
            </div> <!-- end container -->
        </header>

        <!-- ========== PRICING ========== -->
        <section class="se-section">
            <div class="container">
                <div class="row">

                    <div class="col-md-6 col-sm-6">
                        <div class="se-plan">
                            <div class="plan-header">
                                <p>Teacher Plan</p>
                                <h2>£4.99 <small>/mo</small></h2>
                                <p>Perfect for a single teacher to get started quickly</p>
                            </div> <!-- end plan-header -->

                            <div class="plan-features">
                                <ul>
                                    <li>Manage a single class</li>
                                    <li>Create 5 surveys every month</li>
                                    <li>1000 Unique Responses a month</li>
                                    <li>Access to Analytics Dashboard</li>
                                    <li>Rewards Student Participation</li>
                                    <li>Unlimited Support</li>
                                    <li><a href="/sign-up" class="btn se-btn-black btn-rounded">Start Free 14 Day Trial</a></li>
                                </ul>
                            </div> <!-- end plan-features -->
                        </div> <!-- end se-plan -->
                    </div> <!-- end col-md-4 -->

                    <div class="col-md-6 col-sm-6">
                        <div class="se-plan">
                            <div class="plan-header">
                                <p>Organisation Plan</p>
                                <h2>Let's Talk<small></small></h2>
                                <p>solutions for Departments and Universities</p>
                            </div> <!-- end plan-header -->

                            <div class="plan-features">
                                <ul>
                                    <li>Manage multiple classes</li>
                                    <li>Create unlimited surveys</li>
                                    <li>Unlimited Unique Responses</li>
                                    <li>Access to Analytics Dashboards</li>
                                    <li>Reward Student Participation</li>
                                    <li>Custom Subdomain</li>
                                    <li>Unlimited Support</li>
                                    <li><a href="/sign-up" class="btn se-btn-black btn-rounded">Start Free 14 Day Trial</a></li>

                                </ul>
                            </div> <!-- end plan-features -->
                        </div> <!-- end se-plan -->
                    </div> <!-- end col-md-4 -->

                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>

        <!-- ========== FAQ SECTION ========== -->
        <section class="se-section">
            <div class="container">
                <div class="row">

                    <div class="col-md-6 col-sm-6 se-faq">
                        <h6 class="underline">How does the 14 day trial work?</h6>
                        <p>The free trial gives you access to the Wiire platform that you would get as a paying customer for free for 14 days.</p>
                    </div> <!-- end se-faq -->

                    <div class="col-md-6 col-sm-6 se-faq">
                        <h6 class="underline">Can I upgrade from one package to another?</h6>
                        <p>Of course, maybe you want to try out the teachers lisence before showing the rest of your colleagues and going the organisation plan</p>
                    </div> <!-- end se-faq -->

                    <div class="col-md-6 col-sm-6 se-faq">
                        <h6 class="underline">Can I pay yearly?</h6>
                        <p>Sure, you can pay monthly, termly or yearly. Get in touch and we'll sort something out around your procurement process</p>
                    </div> <!-- end se-faq -->


                    <div class="col-md-6 col-sm-6 se-faq">
                        <h6 class="underline">Can I cancel any time?</h6>
                        <p>There are absolutely no contracts with Wiire. You can cancel or pause your account at any time.</p>
                    </div> <!-- end se-faq -->


                    </div> <!-- end se-faq -->
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>

{% endblock content %}
