{% extends 'base_admin.html' %}
{% block content %}
{% load staticfiles %}




<div class="ui grid">
  <div class="ui rail seven wide column" style="border-right: 1px solid rgba(34,36,38,.15)">

    <div class="ui tiny breadcrumb" style="padding-left: 0px;">
        <a class="section" href="{% url "surveys:response-list" %}">Response List</a>
        <div class="divider"> / </div>
        <div class="active section">Response: {{response.survey}}</div>
    </div>

    <div class="ui card">
      <div class="image">
        <img src="{% static 'images/kristy.png' %}" >

      </div>
      <div class="content">
        <a class="header">Jessie</a>
        <div class="meta">
          <span class="date">Responded: {{response.date_created}}</span>
        </div>
        <div class="description">
        </div>
      </div>
      <div class="extra content">
        <a>
          <i class="user icon"></i>
          22 Years old
        </a>
      </div>
    </div>


  </div>


  <div class="nine wide column" style="height:100vh;background:white">
    {{response.answer}}

    <h1>PHQ-2:</h1>
      <div class="ui massive orange label">Score
      <div class="detail">4</div>
</div>

    <div class="ui divided selection list">
      <a class="item">
        <div class="ui grey circular label">1</div>
        (1/2) Over the past 2 weeks, how often have you had little interest in doing things?
      </a>
      <a class="item">
        <div class="ui red circular label">4</div>
        (2/2) Over the past 2 weeks how often have you been Feeling down, depressed or hopeless?
      </a>
    </div>
    <hbr>
    <div>Key:
      <div class="ui small grey label">Not at all
      <div class="detail">1</div>
      </div>
      <div class="ui small yellow label">Several Days
      <div class="detail">2</div>
      </div>
      <div class="ui small orange label">More than half the Days
      <div class="detail">3</div>
      </div>
        <div class="ui small red label">Nearly Every Day
      <div class="detail">4</div>
      </div>
    </div>


  </div>
</div>


</div>


{% endblock %}



