{% extends 'base_admin.html' %}
{% block content %}
{% load staticfiles %}




<div class="ui grid">
  <div class="ui rail seven wide column" style="border-right: 1px solid rgba(34,36,38,.15)">

    <div class="ui tiny breadcrumb" style="padding-left: 0px;">
        <a class="section" href="{% url "surveys:response-list" %}">Response List</a>
        <div class="divider"> / </div>
        <div class="active section">Response: {{response.survey}}</div>
    </div>

    <div class="ui card">
      <div class="image">
        <img src="{% static 'images/kristy.png' %}" >

      </div>
      <div class="content">
        <a class="header">Jessie</a>
        <div class="meta">
          <span class="date">Responded: {{response.date_created}}</span>
        </div>
        <div class="description">
        </div>
      </div>
      <div class="extra content">
        <a>
          <i class="user icon"></i>
          22 Years old
        </a>
      </div>
    </div>


  </div>


  <div class="nine wide column" style="height:100vh;background:white">
    {{response.answer}}

    <h1>PHQ-2:</h1>
    <h4>Score: 3</h4>
    <p>Prognosis: Progress to PHQ-2</p>


    <h1>Answers:</h1>
    <p>Question: (1/9) Over the past 2 weeks, how often have you had little interest in doing things?</p>
    <p>Answer: Not at all</p>

    <p>Question: (2/9) Over the past 2 weeks how often have you been Feeling down, depressed or hopeless?</p>
    <p>Answer: Nearly Every Day</p>

  </div>
</div>


{% endblock %}



