
{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="{% static 'js/circle-progress.min.js' %}"></script>
<style type="text/css">
.navbar{
    display:none;
}
footer{
    display:none;
}
.se-section {
    padding: 15px 0;
}
</style>


        <!-- ========== FEATURE INTRO ========== -->
        <section class="se-section">
            <div class="container">
                <div class="row">

                    <div class="col-md-6">

                            <h1>Questionnaire Complete!</h1>
                            <h6>Results will be used to help provide you with effective care</h6>

                    </div> <!-- end col-md-8 -->






                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>


        <script>
          $('#circle').circleProgress({
            value: 0.33,
            size: 220,
          fill: { gradient: ["#4FD7ED"]}
          }).on('circle-animation-progress', function(event, progress) {
            $(this).find('p').html( '<i></i>');
          });
        </script>




{% endblock content %}
Contact GitHub API Training Shop Blog About
© 2017 GitHub, Inc. Terms Privacy Security Status Help
