{% extends 'base_admin.html' %}
{% block content %}

    {% if survey_list %}
    <div class="ui cards">

      {% for survey in object_list %}

        <div class="card">
        <div class="content">
          <div class="header">
            {{ survey.name }}
          </div>
          <div class="meta">
            {{ survey.slug}}
          </div>
          <div class="description">
            {{survey.description}}
          </div>
        </div>
        <a href="{{ survey.get_absolute_url }}"><div class="ui bottom attached button" tabindex="0">View Questionnaire</div></a>
      </div>
      {% endfor %}

    </div>
    {% else %}
      <p>There are no surveys available to load.</p>
    {% endif %}
{% endblock %}
