{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

{# <script type="text/javascript" src="https://conversational-form-0iznjsw.stackpathdns.com/conversational-form.min.js" crossorigin></script> #}

<!--<style>

    .user.show>thumb{
        background-image: url(http://www.cdu.edu.au/sites/default/files/newsroom/images/Fran_Rosamond-3%20300x250.jpg)
            !important;
        width:50px;
        height:50px;
        display: none;
    }
    .robot.show>thumb{
        background-image: url(http://www.cdu.edu.au/sites/default/files/newsroom/images/Fran_Rosamond-3%20300x250.jpg) !important;
        width:50px;
        height:50px;
    }
    .robot.show>text{
        margin-left: 20px;
        !important;
    }
    .robot.peak-thumb>thumb{
        background-image: url(http://developer.affectiva.com/images/emoji/smiley.png) !important
    }
    .navbar{
        display:none;
    }
    footer{
        display:none;
    }


}
</style>-->


    <ol class="breadcrumb">
        <li><a href="{% url "surveys:home" %}">Home</a></li>
        <li class="active"><a href="{%  url "surveys:survey" survey.id %}">Survey</a></li>
    </ol>
    <h2>{{ survey.name }}</h2>
    <h5>{{ survey.description }}</h5>
    <form action="{%  url "surveys:survey" survey.id %}" method="POST" cf-form>
        {% csrf_token %}
        <input type="text" cf-questions="Hey, I'm Jenny :) one of the Mental Health Staff. I'll be helping you today! What's your name?">

        <select class="selectpicker" cf-questions="Nice to meet you {previous-answer} I need to you answer a few questions so we can provide the best care, try and answer honestly, okay?">
            <option>Okay, Start Questions</option>
        </select>



        {% for field in survey_form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{# {{ field.html_name }} #}. {{ field.label }}{# {% if field.field.required %} *{% endif %} #}</label>
                {{ field }}
            </div>
        {% endfor %}
        <!--<div class="form-group">
            <label for="responder_id">{{ survey.questions.count|add:"1" }}. What's your Nickname?</label>
            <input type="text" id="responder_id" name="responder_id" placeholder="Nickname">
        </div>-->

        <input type="text" cf-questions="Thanks for filling that out Jessie {previous-answer} - whats the best phone number to get you on so we can take next steps?">

        <input type="submit" class="btn btn-info" value="Submit Button">
    </form>


{% endblock content %}

