{% extends 'base_admin.html' %}
{% block content %}



<div class="ui grid">
  <div class="ui rail seven wide column" style="border-right: 1px solid rgba(34,36,38,.15)">

    <div class="ui tiny breadcrumb" style="padding-left: 0px;">
        <a class="section" href="{% url "surveys:survey-list" %}">Questionnaire List</a>
        <div class="divider"> / </div>
        <div class="active section" href="{%  url "surveys:survey" survey.id %}">Questionnaire: {{survey.name}}</div>
    </div>

    <h3>{{survey.name}}</h3>
     <p>{{survey.description}}</p>
     <div class="ui divider"></div>

     <div class="ui styled accordion">
     <div class="title">
        <i class="dropdown icon"></i>
        <i class="linkify outline icon"></i>
            Send as link
      </div>
      <div class="content">
        <a href="www.wiireapp.com/survey/{{survey.id}}#end">www.wiireapp.com/survey/{{survey.id}}#end</a>
      </div>
      <div class="title">
        <i class="dropdown icon"></i>
        <i class="comment icon"></i>
            Send as a text to patient
      </div>
      <div class="content">
        <p class="transition hidden"><div class="ui fluid action input">

        <!-- TEXT MESSAGE FORM -->
        <form method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit" />


        </form>


     </div></p>
      </div>
      <div class="title">
        <i class="dropdown icon"></i>
        <i class="code outline icon"></i>
            Embed code
      </div>
      <div class="content">
        <p><pre class="code-sample"><span class="tag">&lt;iframe&gt;</span> <span class="class-tag">id</span>=<span class="label-tag">"survey-frame"</span> <span class="class-tag">src</span>=<span class="label-tag">"www.wiireapp.com/survey/{{survey.id}}#end" </span><span class="class-tag">width</span>=<span class="label-tag">"100%" </span><span class="class-tag">height</span>=<span class="label-tag">"90%"</span><span class="class-tag"> frameborder</span>=<span class="label-tag">"0"</span> <span class="class-tag">overflow:visible;<span><span class="tag">&lt;/iframe&gt;</span></pre></p>
      </div>
    </div>


         <p></p>


  </div>


  <div class="nine wide column" style="height:100vh;background:white">
        <iframe scrolling="no" id="survey-frame" src="/survey/{{survey.id}}#end" width="100%" height="90%" frameborder="0" overflow:hidden;></iframe>
  </div>
</div>


{% endblock %}



