{% extends 'base_admin.html' %}
{% block content %}

<h1>Clincal Questionnaires</h1>
   <div class="ui two cards">
    {% if survey_list %}
      {% for survey in object_list %}

        <a class="ui raised link card" href="{{survey.get_absolute_url }}">

          <div class="header header-background">
            <h3 class="ui top attached header" style="background: linear-gradient(to right,#4776e6, #78d1ee); color: white;font-weight:300">{{ survey.name }}</h3>
          </div>
            <div class="content">
              <div class="description">
                {{survey.description}}
              </div>
            </div>
      </a>
      {% endfor %}

    </div>
    {% else %}
      <p>There are no surveys available to load.</p>
    {% endif %}
{% endblock %}
