{% load staticfiles %}

<html>
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <!-- ========== VIEWPORT META ========== -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

        <!-- ========== PAGE TITLE ========== -->
        <title>Boost Response Rates</title>

        <!-- ========== META TAGS ========== -->
        <meta name="description" content="Use Module Evaluation to boost student satisfaction.">
        <meta name="keywords" content="Module Evaluation, Student Feedback, saas">
        <meta name="author" content="Wiire">

        <!-- ========== FAVICON & APPLE ICONS ========== -->
        <link rel="shortcut icon" href=" {% static 'images/favicon.png' %}">
        <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}" >

        <!-- ========== MINIFIED VENDOR CSS ========== -->
        <link rel="stylesheet" href="{% static 'css/vendor.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/aos.css' %}">
        <link rel="stylesheet" href="{% static 'css/devices.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js" ></script>


        <!-- ========== MODERNIZR ========== -->
        <script src="{% static 'js/vendor/modernizr.js' %}"></script>
        <script src="{% static 'js/typed.min.js' %}"></script>
        <script>
  $(function(){
      $(".subject").typed({
        strings: ["Fluid Mechanics."],
        startDelay: 6500,
        typeSpeed: 0,
        showCursor: false,
      });
  });
  $(function(){
      $(".name").typed({
        strings: ["Peter^8000","Mira^5000","James^5000", "Lizzie^5000", "Ola^5000", "Holly^5000", "Carlos^5000"],
        startDelay: 4000,
        typeSpeed: 0,
        showCursor: false,
        loop: false,
        // highlight instead of erasing each character (backspace effect)
        highlight: false,
      });
  });
    $(function(){
      $(".response").typed({
        strings: ["an improvement to the VLE"],
        startDelay: 9000,
        typeSpeed: 0,
        showCursor: false,
      });
  });
</script>
    </head>

    <body>

            <!-- ========== NAVIGATION ========== -->
        <nav class="navbar yamm navbar-static-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button> <!-- end navbar-toggle -->
                    <a class="navbar-brand" href="/">
                        <img src="{% static 'images/dark-logo.svg" alt="SoftEase Logo" class="light-logo' %}">
                        <img src="{% static 'images/dark-logo.svg' %}" alt="SoftEase Logo" class="dark-logo">
                    </a> <!-- end navbar-brand -->
                </div> <!-- end navbar-header -->

                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav pull-right nav-list">
                        <li class="nav-btn-wrap">
                            <span class="nav-btn"><a href="/pricing" class="btn se-btn-black btn-rounded">Get Started For Free</a></span>
                            <span class="nav-btn"><a href="/admin" class="btn se-btn-white btn-rounded">Login</a></span>

                        </li>
                    </ul> <!-- end navbar-nav -->

                </div> <!--end nav-collapse -->
            </div> <!-- end container -->
        </nav>
        {% block content %}
        {% endblock content %}
        <script src="{% static 'js/aos.js' %}"></script>
           <script>
             AOS.init({
               easing: 'ease-in-out-sine',
               duration: '500',
             });
           </script>
        <script src="{% static 'js/plugins.js' %}" ></script>

        <script src="{% static 'js/main.js' %}"></script>

         <script src="{% static 'js/init-animation.js' %}" ></script>

        <script src="{% static 'js/init-animation-circle.js' %}" ></script>

    </body>



    <!-- ========== FOOTER ========== -->
    <footer class="light-footer">
        <div class="container">
            <div class="row">

                <div class="col-md-4 col-sm-3 col-xs-6">
                    <h6 class="mtn">Wiire</h6>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/pricing">Pricing</a></li>
                        <li><a href="http://www.medium.com/wiire">Blog</a></li>
                    </ul>
                </div>

                <div class="col-md-4 col-sm-3 col-xs-6">
                    <h6 class="mtn">Support</h6>
                    <ul>
                        <li><a href="/sign-up">Get Started</a></li>
                        <li><a href="/privacy-policy">Privacy Policy</a></li>
                    </ul>
                </div>

                <div class="col-md-2 col-sm-3 col-xs-6">
                    <img src="{% static 'images/dark-logo.svg' %}" alt="" class="footer-logo">
                </div>

            </div> <!-- end row -->

            <div class="row footer-bottom">
                <div class="col-md-6">
                    <p>Copyright &copy; Houndly ltd. 2017. All Rights Reserved.</p>
                </div>

                <div class="col-md-6 text-right">
                    <!--<h6><a href="http://www.facebook.com/houndly">FACEBOOK</a></h6>-->
                    <h6><a href="http://www.twitter.com/wiireapp">TWITTER</a></h6>
                </div>
            </div> <!-- end footer-bottom -->
        </div> <!-- end container -->
    </footer>
</html>
